examples/sample-workflow.json
{
  "name": "Sample Webhook Processor",
  "nodes": [
    {
      "id": "a1b2c3d4-1111-1111-1111-111111111111",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "sample-webhook-001",
      "parameters": {
        "httpMethod": "POST",
        "path": "process",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-2222-2222-2222-222222222222",
      "name": "Transform",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "assign-1",
              "name": "processed",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "assign-2",
              "name": "receivedAt",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "assign-3",
              "name": "payload",
              "value": "={{ JSON.stringify($json.body) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-3333-3333-3333-333333333333",
      "name": "Send to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/data",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ processed: $json.processed, payload: $json.payload, timestamp: $json.receivedAt }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Transform", "type": "main", "index": 0 }]
      ]
    },
    "Transform": {
      "main": [
        [{ "node": "Send to API", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false
}
